<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>MainServlet</servlet-name>
  	<display-name>MainServlet</display-name>
  	<description></description>
  	<servlet-class>controller.MainServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DashboardServlet</servlet-name>
  	<display-name>DashboardServlet</display-name>
  	<description></description>
  	<servlet-class>controller.DashboardServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CommentaireServlet</servlet-name>
  	<display-name>CommentaireServlet</display-name>
  	<description></description>
  	<servlet-class>controller.CommentaireServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TacheServlet</servlet-name>
  	<display-name>TacheServlet</display-name>
  	<description></description>
  	<servlet-class>controller.TacheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CommentaireServlet</servlet-name>
  	<url-pattern>/CommentaireServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TacheServlet</servlet-name>
  	<url-pattern>/TacheServlet</url-pattern>
  </servlet-mapping>
</web-app>
