<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>controller.MainServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>controller.DashboardServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
    
  <servlet>
  	<servlet-name>CommentaireServlet</servlet-name>
  	<display-name>CommentaireServlet</display-name>
  	<description></description>
  	<servlet-class>controller.CommentaireServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>TacheServlet</servlet-name>
  	<display-name>TacheServlet</display-name>
  	<description></description>
  	<servlet-class>controller.TacheServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>EditUserServlet</servlet-name>
  	<display-name>EditUserServlet</display-name>
  	<description></description>
  	<servlet-class>controller.EditUserServlet</servlet-class>
  </servlet>

  
  <servlet>
  	<servlet-name>ForgetServlet</servlet-name>
  	<display-name>ForgetServlet</display-name>
  	<description></description>
  	<servlet-class>controller.ForgetServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ChangePassword</servlet-name>
  	<display-name>ChangePassword</display-name>
  	<description></description>
  	<servlet-class>controller.ChangePassword</servlet-class>
  </servlet>
  
  
  <servlet>
  	<servlet-name>ProjetServlet</servlet-name>
  	<display-name>ProjetServlet</display-name>
  	<description></description>
  	<servlet-class>controller.ProjetServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminServlet</servlet-name>
  	<display-name>AdminServlet</display-name>
  	<description></description>
  	<servlet-class>controller.AdminServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProject</servlet-name>
  	<display-name>UpdateProject</display-name>
  	<description></description>
  	<servlet-class>controller.UpdateProject</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>CommentaireServlet</servlet-name>
  	<url-pattern>/CommentaireServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>TacheServlet</servlet-name>
  	<url-pattern>/TacheServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>EditUserServlet</servlet-name>
  	<url-pattern>/EditUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProjetServlet</servlet-name>
  	<url-pattern>/ProjetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminServlet</servlet-name>
  	<url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ForgetServlet</servlet-name>
  	<url-pattern>/ForgetServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ChangePassword</servlet-name>
  	<url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProject</servlet-name>
  	<url-pattern>/UpdateProject</url-pattern>
  </servlet-mapping>
  
</web-app>
